@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  .dark {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}
.prose {
  @apply max-w-none;
  color: var(--foreground);
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: var(--foreground);
}

.prose p,
.prose ul,
.prose ol,
.prose blockquote {
  color: var(--foreground);
}

.prose strong {
  color: var(--foreground);
}

.prose code {
  color: var(--foreground);
  background-color: rgb(55 65 81 / 0.1);
  padding: 0.2em 0.4em;
  border-radius: 0.25em;
}

.prose pre {
  background-color: rgb(55 65 81 / 0.1);
  border-radius: 0.375rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
