@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: oklch(0.129 0.042 264.695);
  }

  .dark {
    --background: oklch(0.129 0.042 264.695);
    --foreground: #ededed;
  }
}
.prose {
  @apply max-w-none;
  color: var(--foreground);
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: var(--foreground);
}

.prose p,
.prose ul,
.prose ol,
.prose blockquote {
  color: var(--foreground);
}

.prose strong {
  color: var(--foreground);
}

.prose code {
  color: var(--foreground);
  background-color: rgb(55 65 81 / 0.1);
  padding: 0.2em 0.4em;
  border-radius: 0.25em;
}

.prose pre {
  background-color: rgb(55 65 81 / 0.1);
  border-radius: 0.375rem;
}
.timeline hr {
  grid-column-start: 1;
  grid-row-start: 3;
  justify-content: start;
  justify-self: start;
  margin-left: 1.5rem;
}
.timeline-start-override {
  grid-column-end: auto !important;
  grid-column-start: auto !important;
}

.timeline-item {
  grid-column-start: 1;
  justify-self: start;
  margin-left: 1rem;
}

.list-with-margin li {
  margin-bottom: 0.5rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.font-mono {
  font-family: var(--font-roboto-mono);
}

.font-display {
  font-family: var(--font-playfair);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
